/* fonts.css */

* {
  font-family: Audiowide;
}
.container {
  width: 99%;
  height: 100vh;
  /* border-radius: 10px; */
  position: relative;
  align-items: center;
  background:gray;
  overflow: hidden;
  margin: 0 auto;
  color: white;
  display: flex;
  transition: none;

  overflow: hidden;
  
}
.image{
  position: absolute;
  width:100%;
  height:100%;
  z-index: 1;
  background: #121212;

}


.CanvaContainer{
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  z-index: 3;
}
.canvas{
  width: 50%;

}
canvas{
  position: relative;
}

.listItem{
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  padding-top: 10vw;
  padding-left: 5vw;
 z-index: 4;
}

.Item{
  font-size: 4vw;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-align: left;
  transition: all 0.5s;
}
.Item:hover{
  color: white;
}
.Item:target{
color: white;
}
.rightcontent{
  width: 30%;
  height: 100%;
  z-index: 4;
  flex-direction: column;
  display: flex;
  padding-right: 10vw;
  flex-flow: wrap;
}
.rightcontent h1{
padding-top: 5vw;
font-size: 5vw;
}
.rightcontent div{
  display: flex;
  flex-direction: column;
 
 justify-content: center;
}
@media screen and (max-width:800px) {
  .container {
    flex-direction: column;
  }
  .listItem{
    width: 100%;
    padding-top: 20vw;
    
  }
  .rightcontent{
    width: 100%;
    text-align: right;
  }
  .rightcontent h1{
    display: none;
  }
  .canvas{
    height: 1000px;
  }
  .Item{
    
    font-size: 10vw;
  }
  .CanvaContainer{
    width: 100%;
  }

}