.container {
  width: 99%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background: #121212;
  transition: none;
}
.container::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  left: 370px;
  top: 20vw;
  border-radius: 50%;
  background: #216a93;
  filter: blur(200px);
}
.headLine {
  width: 100%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  mix-blend-mode: soft-light;
  font-size: 288.206px;
  opacity: 0.8;
}
.leftContent {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;

  padding-left: 3vw;
  gap: 3vw;
  z-index: 10;
}
.item {
  color: transparent;
  -webkit-text-stroke: 1px #d6d1ce;
  font-size: 3vw;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all 0.5s;
}
.item:hover {
  color: #d6d1ce;
  scale: 1.1;
  transform: translateX(5vw);
}
.RightContent {
  width: 50%;
  height: 100%;
}
.contentWrapper {
  position: relative;
  width: 100%;
  height: 40%;
  z-index: 10;
}
.contentWrapper::before {
  content: "";
  position: absolute;
  right: -5vw;
  width: 60%;
  height: 1px;
  background: white;
  top: 3vw;
}
.contentWrapper::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  left: -5vw;
  background: white;
  bottom: 3vw;
}
.content {
  position: absolute;
  width: 80%;
  height: auto;
  word-wrap: break-word;
}
.line {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.line::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: 3vw;
  background: white;
  top: 7vw;
}
.line::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: 3vw;
  background: white;
  bottom: 7vw;
}
.line2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.line2::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: 4vw;
  background: white;
  top: 5vw;
}
.line2::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 70%;
  right: 4vw;
  background: white;
  bottom: 5vw;
}
.imagewrapper {
  width: 100%;
  border-radius: 20px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.imagewrapper img {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  aspect-ratio: 5/3;
  object-fit: cover;
  transition: all 0.3s;
}
.imagewrapper:hover img {
  scale: 1.1;
}

.active {
  color: #d6d1ce;
  scale: 1.1;
  transform: translateX(5vw);
}
@media screen and (max-width: 820px) {
  .headLine {
    font-size: 30vw;
    width: auto;
    right: 0;
    writing-mode: vertical-lr;
  }
  .container {
    flex-direction: column;
  }
  .leftContent {
    width: 100%;
    justify-content: center;
  }
  .RightContent {
    width: 100%;
  }
  .item {
    font-size: 8vw;
  }
}

@media screen and (max-width: 400px) {
}
