/* fonts.css */

* {
  font-family: Audiowide;
}
.container {
  width: 99%;
  height: 100vh;
  border-radius: 10px;
  position: relative;
  align-items: center;
  background: #121212;
  overflow: hidden;
  margin: 0 auto;
  color: white;
  display: flex;
  transition: none;
  margin-bottom: 0;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: saturate(0);
}

.leftContent {
  position: relative;
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
}

.linkTag {
  position: relative;
  width: 60px;
  height: 30%;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.MainContent {
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px; /* Add perspective to the .MainContent container */
}


@media screen and (max-width: 1200px) {

  .leftContent {
    width: 30%;
  }
  .MainContent {
    width: 90%;
  }
  .imageBacktext {
    font-size: 2vw;
    top: 15%;
    left: 40%;
  }
  .imageFrontTest {
    font-size: 3vw;
    bottom: 10px;
    left: 30%;
  }
  
}
@media screen and (max-width: 820px) {
  .container {
    flex-direction: column;
  }
  .leftContent {
    height: 20%;
    justify-content: flex-end;
    width: 80%;
    display: grid;
    margin-left: 15%;
  }
  .leftH1 {
    font-size: 4em;
    display: flex;
    align-items: center;
  }

  .MainContent {
    width: 100%;
    height: 85%;
  }
  
  .linkTag {
    position: fixed;
    right: 1px;
    top: 40%;
    z-index: 20;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    right: -5%;
  }
  .linkTag:hover {
    right: 0;
  }
  .linkTag::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    border-radius: 10px 0 0 10px;
  }
  .linkTag::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border: 2px solid white;
    z-index: -1;
    top: 3px;
    right: 2px;
    border-radius: 10px 0 0 10px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    overflow: hidden;
  }
  .MainContent {
    width: 100%;
    height: 65%;
  }

  
  .linkTag {
    position: fixed;
    right: -10%;
    z-index: 20;
    justify-content: center;
    align-items: center;
    gap: 30px;
    right: -35px;
  }
  .linkTag:hover {
    right: 0;
  }
  .linkTag::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
    z-index: -1;
    border-radius: 10px 0 0 10px;
  }
  .linkTag:hover:after {
    background: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(5px);
  }
  .linkTag::before {
    position: absolute;
    content: "";
    height: 80%;
    width: 100%;
    border: 2px solid white;
    z-index: -1;
    top: 27px;
    right: 2px;
    border-radius: 10px 0 0 10px;
  }
}
