@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap" rel="stylesheet');
.container {
  width: 99%;
  transition: none;
  height: 100vh;
  color: white;
  display: flex;
  margin: 0 auto;
  position: relative;
  transition: none;
  margin-bottom: 0;
  overflow: hidden;
  background: #f0f0f0;
  
}
.secimage{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: none;
}
.container::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent,white);
  z-index: -1;
}
.container img {
  position: absolute;
  width: 100%;
  object-fit: contain;
  z-index: 0;
  height: 100%;
}
.parent {
  width: 100%;
  height: 5vw;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  transition: none;
}
.rectangle {
  position: absolute;
  z-index: 8;
 
  width: 100%;
  height: 100%;
  color: rgb(75, 75, 75);
  font-size: 4vw;
  transition: none;
  margin: 0 auto;
  transition: none;
}

.leftContent {
  padding-left: 10%;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: none;
}
.rightContent {
display: flex;
/* align-items: center; */
position: relative;
width: 50%;

}

.cardWrapper{

  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 10;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.cardHead{
  color: #575757;
  font-family: Audiowide;
  display: flex;
  align-items: center;
  font-size: 2vw;

}

.BackThreeContent{
width: 100%;
height: 60%;
position: absolute;
display: flex;
justify-content: center;
font-family: Audiowide;
align-items: center;
font-size: 8vw;
color: #575757;
z-index: 0;
}
.FrontThreeContent{
  position: absolute;
  z-index: 10002;
  bottom:1vw;
  text-align: center;
  width: 90%;
  font-size: 3vw;
  font-family: Audiowide;
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke: 0.5px rgb(75, 75, 75);
  font-weight: 900;
  
}
.cardWrapper > svg{
  position: absolute;
  bottom: 0;
  right: 2vw;
}

.section {
  margin: 0 auto;
  width: 100%;
}
.pageNameWrapper{
  position: absolute;
  height: auto;
  padding-top: 10px;
  overflow: hidden;
}
.animatedContent {
  writing-mode: vertical-lr;
  font-size: 5vw;
  color: transparent;
  -webkit-text-stroke: 1px rgb(75, 75, 75);
  z-index: 2;
  font-family: Encode Sans Expanded;
  font-weight: 100;
  font-style: normal;
  line-height: 200%; 
  letter-spacing: 1vw;
  
}
.FrontfillThreeContent{
  position: absolute;
  z-index: 0;
  bottom:1vw;
  text-align: center;
  width: 90%;
  font-size: 3vw;
  font-family: Audiowide;
  color: rgb(75, 75, 75);
}

@media screen and (max-width: 820px) {
  .container {
    flex-direction: column; 
  }
  .animatedContent{
    font-size: 10vw;
  }
  .rectangle {
    padding: 0;
    font-size: 3em;
  }
  .leftContent {
    width: 100%;
    height: auto;
    z-index: 5;
    padding-left: 1vw;
  }
  .parent {
    height: 60px;
  }
  .rectangle {
    font-size: 3em;
  }
  .rightContent {
  width: 100%;
  height: 100%;
  }
  .cardWrapper{
    height: 100%;
  }
  .cardWrapper >svg{
    width: 10vw;
  }
  .pageNameWrapper{
    right: 0;
  }
  .FrontThreeContent{
    font-size: 8vw;
    bottom: 20vw;
    color: #575757;
    -webkit-text-stroke:transparent;
    mix-blend-mode: difference;
    text-align: center;
    width: 100%;
  }
  .BackThreeContent{
    font-size: 20vw;
  }
  .FrontfillThreeContent{
    position: absolute;
    z-index: 0;
    -webkit-text-stroke: 1px rgb(75, 75, 75);
    text-align: center;
    width: 100%;
    font-size: 8vw;
    bottom: 20vw;
  
    color: #575757;
  }
}
