.container {
  width: 99%;
  height: 100vh;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: #f0f0f0;
  margin: 0 auto;
  color: white;
  display: flex;
}
.contentWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.cardImage {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  opacity: 0;
  width: 20vw;
  height: 30vw;
}

.cardImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}
.cardImage:hover img{
  scale: 1.5;
}
.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.brandName{
  font-size: 10vw;
  font-family: Montserrat, sans-serif;
  color: white;
  mix-blend-mode: difference;
}
.brandNameSec{
  font-size: 10vw;
  font-family: Montserrat, sans-serif;
  color: transparent;
  width: 40%;
  text-align: left;
  -webkit-text-stroke: 2px white;
  mix-blend-mode: difference;
}
.mainContent>h3{
  color: black;
  position: absolute;
  right: 5vw;
  bottom: 5vw;
  z-index: 10;
}
.OwnName{
  font-family: Montserrat, sans-serif;
  width: 40%;
  text-align: left;
  color: rgb(0, 0, 0);
  z-index: 200;
}
.linkTag {
  position: absolute;
  width: 60px;
  height: 30%;
  top: 45%;
  mix-blend-mode: difference;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media screen and (max-width: 840px) {
  .mainContent {
    padding-top: 35vw;
  }
  .brandName{
    font-size: 15vw;
  }
  .brandNameSec{
    font-size: 15vw;
    width: 60vw;
  }
  .mainContent>h3{
    text-align: right;
    right: 5vw;
  }
  .OwnName{
    width: 60vw;
  }
  .cardImage {
    width: 40vw;
    height: 60vw;
    bottom: 35vh;
  }
  .linkTag {
    display: none;
  }
  
}
@media screen and (max-width: 400px) {
  .OwnName{
    text-align: right;
  }
  .linkTag.show {
    opacity: 1;
  }

  .linkTag {
   display: none;
  }
  
}
