.container {
    width: 99%;
    height: 100vh;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    color: white;
    display: flex;
  }
  .video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .mainContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70%;
    background-color: rgb(46, 46, 46);
    backdrop-filter: blur(2px);
    mix-blend-mode:multiply ;
  }
  .middleContent{
    font-size: 10em;
    font-weight: 600;
  }
  .topContent{
    align-self: flex-start;
    margin-left: 15%;
  }
  .bottomContent{
    font-size: 4em;
    align-self: flex-end;
    margin-right: 15%;
  }
  .linkTag {
    position: relative;
    width: 60px;
    height: 30%;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  @media screen and (max-width: 840px) {
    .topContent{
      align-self: flex-start;
      font-size: 1em;
      margin-left: 1%;
    }
    .mainContent h1{
      font-size: 3em;
    }
  
    .bottomContent{
      font-size: 1em;
      align-self: flex-end;
      margin-right: 1%;

    }
    
  }