.container {
    width: 99%;
    height: 100vh;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    color: white;
    display: flex;
    margin-bottom: 0;
  }
  .video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: none;
    z-index: -1;
  }
  .mainContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70%;
    padding: 0 5vw;
    background-color: rgb(255, 255, 255);
    transition: none;
    /* backdrop-filter: blur(2px); */
    color: black;
    mix-blend-mode:screen ;
  }
  .middleContent{
    font-size: 10vw;
    font-weight: 600;
  }
  .topContent{
    align-self: flex-start;
    font-size: 3vw;
 
  }
  .bottomContent{
    font-size: 4vw;
    align-self: flex-end;

  }
  .linkTag {
    position: absolute;
    width: 60px;
    height: 30%;
    top: 45%;
    mix-blend-mode: difference;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  @media screen and (max-width: 840px) {
    .topContent{
      align-self: flex-start;
      font-size: 4vw;
      text-align: first;

    }
    .middleContent{
      font-size: 5em;
      text-align: end;
    }
  
    .bottomContent{
      font-size: 2em;
      align-self: flex-end;
 

    }
    .linkTag {
      position: fixed;
      right: 1px;
      top: 40%;
      z-index: 20;
      justify-content: space-around;
      align-items: center;
      gap: 30px;
      right: -5%;
    }
    .linkTag:hover {
      right: 0;
    }
    .linkTag::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgb(255, 255, 255);
      z-index: -1;
      border-radius: 10px 0 0 10px;
    }
    .linkTag::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border: 2px solid white;
      z-index: -1;
      top: 3px;
      right: 2px;
      border-radius: 10px 0 0 10px;
    }
 
    
  }
  @media screen and (max-width: 400px) {

    .linkTag.show {
      opacity: 1;
    }
    
    
    .linkTag {
      position: fixed;
      right: -10%;
      z-index: 20;
      justify-content: center;
      align-items: center;
      gap: 30px;
      right: -50px;
      opacity: 0;
      transition: right opacity 0.5s ease;
     
    }
    .linkTag:hover {
      right: 0;
     
    }
    .linkTag::after {
      position: absolute;
      content: "";
      
      height: 80%;
      width: 100%;
      background-color: rgb(255, 255, 255);
      transition: all 0.5s;
      z-index: -1;
      border-radius: 10px 0 0 10px;
    }
    .linkTag:hover:after {
      background: rgba(255, 255, 255, 0.616);
      backdrop-filter: blur(5px);
    }
    .linkTag::before {
      position: absolute;
      content: "";
      
      height: 80%;
      width: 100%;
      border: 2px solid white;
      z-index: -1;
      top: 27px;
      right: 2px;
      border-radius: 10px 0 0 10px;
    }
  }