.container {
    width: 99%;
    transition: none;
    height: 100vh;
    margin: 10px auto;
    color: white;
    display: flex;
    margin: 0 auto;
    position: relative;
    background: #121212;
    transition: none;
    margin-bottom: 0;
    overflow: hidden;
    
  }